<% goalkeepers = ["Goalkeeper"] %>
<% rightbacks = ["Right-Back"] %>
<% centerbacks = ["Centre-back"] %>
<% leftbacks = ["Left-Back"] %>
<% centralmids = ["Central midfielders"] %>
<% widemids = ["Wide midfielders"] %>
<% strikers = ["Strikers"] %>

<% @gks.each do |gk|%>
<% goalkeepers << gk.name + ' (' + gk[:id].to_s + ')'%>
<% end %>
<% @rbs.each do |rb|%>
<% rightbacks << rb.name + ' (' + rb[:id].to_s + ')'%>
<% end %>
<% @cbs.each do |cb|%>
<% centerbacks << cb.name + ' (' + cb[:id].to_s + ')'%>
<% end %>
<% @lbs.each do |lb|%>
<% leftbacks << lb.name + ' (' + lb[:id].to_s + ')'%>
<% end %>
<% @cms.each do |cm|%>
<% centralmids << cm.name + ' (' + cm[:id].to_s + ')'%>
<% end %>
<% @wms.each do |wm|%>
<% widemids << wm.name + ' (' + wm[:id].to_s + ')'%>
<% end %>
<% @sts.each do |st|%>
<% strikers << st.name + ' (' + st[:id].to_s  + ')'%>
<% end %>

<div class="chooseteam">
  <h1>Create Your Own Football Team</h1>
  <h2>Select tournament players and add them to your team!</h2>
  <h3>Goalkeeper</h3>
  <p><%= select_tag 'gk', options_for_select(goalkeepers)%></p>
  <h3>Defenders</h3>
  <div class="defenders">
    <p><%= select_tag 'rb', options_for_select(rightbacks) %>
    <%= select_tag 'rcb', options_for_select(centerbacks) %>
    <%= select_tag 'lcb', options_for_select(centerbacks) %>
    <%= select_tag 'lb', options_for_select(leftbacks) %></p>
  </div>
  <h3>Midfielders</h3>
  <div class="midfielders">
    <p><%= select_tag 'rm', options_for_select(widemids) %>
    <%= select_tag 'rcm', options_for_select(centralmids) %>
    <%= select_tag 'lcm', options_for_select(centralmids) %>
    <%= select_tag 'lm', options_for_select(widemids) %></p>
  </div>
  <h3>Strikers</h3>
  <div class="strikers">
    <p><%= select_tag 'rs', options_for_select(strikers) %>
    <%= select_tag 'ls', options_for_select(strikers) %></p>
  </div>
  <%= button_tag(type: 'button', id: 'teamSubmit') do content_tag(:strong, 'Submit Team') end %>
<div id="info">
</div>

