<h1><%= @team.name %></h1>
<h2>Players</h2>
<div class="columns">
  <% @team.players.each do |player| %>
  <div>
    <ul>
      <li><strong><%= player.name %></strong></li>
      <li>Club: <strong><%= player.club %></strong></li>
      <li>Nation: <strong><%= player.nation  %></strong></li>
    </ul>    
  </div>
  <div>
    <ul>
      <li>Postion: <strong><%= player.position %></strong></li>
      <li>Age: <strong><%= player.age %></strong></li>
      <li>Height: <strong><%= player.height %>m</strong></li>
    </ul>
  </div>
  <%end %>
</div>