<h1><%= @team.name %></h1>
<%= image_tag 'http://img.uefa.com/imgml/flags/50x50/' + @team.code + '.png' %>
<h2>Players</h2>
<div class="columns">
  <div>
  </div>
  <% @team.players.each do |player| %>
  <div>
    <ul>
      <li><%= player.name %></li>
      <li>Club: <%= player.club %></li>
      <li>Nation: <%= player.nation  %></li>
    </ul>    
  </div>
  <div>
    <ul>
      <li>Postion: <%= player.position %></li>
      <li>Age: <%= player.age %></li>
      <li>Height: <%= player.height %>m</li>
    </ul>
  </div>
  <%end %>
</div>