



  <tr>
    <td class='homeA3'><%= @SRB.name %></td>
    <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @SRB.code + '.png' %></td>
    <td><%= select_tag "homeA3", options_for_select((0..5).step(1)) %></td>
    <td><%= select_tag "awayA3", options_for_select((0..5).step(1)) %></td>
    <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @CZE.code + '.png' %></td>
    <td class='awayA3'><%= @CZE.name %></td>
  </tr>
  <tr>
    <td class='homeA4'><%= @GER.name %></td>
    <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @GER.code + '.png' %></td>
    <td><%= select_tag "homeA4", options_for_select((0..5).step(1)) %></td>
    <td><%= select_tag "awayA4", options_for_select((0..5).step(1)) %></td>
    <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @DEN.code + '.png' %></td>
    <td class='awayA4'><%= @DEN.name %></td>
  </tr>
  <tr>
    <td class='homeA5'><%= @CZE.name %></td>
    <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @CZE.code + '.png' %></td>
    <td><%= select_tag "homeA5", options_for_select((0..5).step(1)) %></td>
    <td><%= select_tag "awayA5", options_for_select((0..5).step(1)) %></td>
    <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @GER.code + '.png' %></td>
    <td class='awayA5'><%= @GER.name %></td>
  </tr>
  <tr>
    <td class='homeA6'><%= @DEN.name %></td>
    <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @DEN.code + '.png' %></td>
    <td><%= select_tag "homeA6", options_for_select((0..5).step(1)) %></td>
    <td><%= select_tag "awayA6", options_for_select((0..5).step(1)) %></td>
    <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @SRB.code + '.png' %></td>
    <td class='awayA6'><%= @SRB.name %></td>
  </tr>  
</tbody>
</table>




<% @groupB.each do |group| %>
  <li class="group-li"><%= link_to(group.name, group_path(group.id), class: 'group-link')%></li>
<% end %>
<table>
    <tr>
      <th>Team</th>
      <th>Pld</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>PTS</th>
    </tr>
    <% @groupB.first.teams.each do |team| %>
    <tr>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team.code + '.png' %><%= team.name %></td>
      <td><%= team.played %></td>
      <td><%= team.wins %></td>
      <td><%= team.draws %></td>
      <td><%= team.losses %></td>
      <td><%= team.points %></td>
    <% end  %>
    </tr>
</table>
<tbody>
  <p>
    <tr>
      <td class='homeB1'><%= @ITA.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @ITA.code + '.png' %></td>
      <td><%= select_tag "homeB1", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "awayB1", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @SWE.code + '.png' %></td>
      <td class='awayB1'><%= @SWE.name %></td>
    </tr>
    <br>
    <tr>
      <td class='homeB2'><%= @ENG.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @ENG.code + '.png' %></td>
      <td><%= select_tag "homeB2", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "awayB2", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @POR.code + '.png' %></td>
      <td class='awayB2'><%= @POR.name %></td>
    </tr>
  </p>
  <p>
    <tr>
      <td class='homeB3'><%= @SWE.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @SWE.code + '.png' %></td>
      <td><%= select_tag "homeB3", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "awayB3", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @ENG.code + '.png' %></td>
      <td class='awayB3'><%= @ENG.name %></td>
    </tr>
    <br>
    <tr>
      <td class='homeB4'><%= @ITA.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @ITA.code + '.png' %></td>
      <td><%= select_tag "homeB4", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "awayB4", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @POR.code + '.png' %></td>
      <td class='awayB4'><%= @POR.name %></td>
    </tr>
  </p>
  <p>
    <tr>
      <td class='homeB5'><%= @ENG.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @ENG.code + '.png' %></td>
      <td><%= select_tag "homeB5", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "awayB5", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @ITA.code + '.png' %></td>
      <td class='awayB5'><%= @ITA.name %></td>
    </tr>
    <br>
    <tr>
      <td class='homeB6'><%= @POR.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @POR.code + '.png' %></td>
      <td><%= select_tag "homeB6", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "awayB6", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @SWE.code + '.png' %></td>
      <td class='awayB6'><%= @SWE.name %></td>
    </tr>
  </p>
  <p><input type="submit" id="groupB" value="Update Table"></p>
</tbody>
