<h1>Predictor</h1>
<ul>
  <% @groupA.each do |group| %>
    <li class="group-li">
      <%= link_to(group.name, group_path(group.id), class: 'group-link')%>
    </li>
  <% end %>
</ul>

<table>
  <tr>
    <th>Team</th>
    <th>Pld</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>PTS</th>
  </tr>
  <% @groupA.first.teams.each do |team| %>
    <tr>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team.code + '.png' %><%= team.name %></td>
      <td><%= team.played %></td>
      <td><%= team.wins %></td>
      <td><%= team.draws %></td>
      <td><%= team.losses %></td>
      <td><%= team.points %></td>
    <% end  %>
  </tr>
</table>
<% team1 = @groupA.first.teams[0] %>
<% team2 = @groupA.first.teams[1] %>
<% team3 = @groupA.first.teams[2] %>
<% team4 = @groupA.first.teams[3] %>
<hr>
<table>
  <tbody>
    <tr class="match">
      <td class='home'><%= team1.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team1.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1))%></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team2.code + '.png' %></td>
      <td class='away'><%= team2.name %></td>
    </tr>


    <tr class="match">
      <td class='home'><%= team3.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team3.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team4.code + '.png' %></td>
      <td class='away'><%= team4.name %></td>
    </tr>
  
    <tr class="match">
      <td class='home'><%= team4.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team4.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team1.code + '.png' %></td>
      <td class='away'><%= team1.name %></td>
    </tr>

    <tr class="match">
      <td class='home'><%= team3.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team3.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team2.code + '.png' %></td>
      <td class='away'><%= team2.name %></td>
    </tr>

    <tr class="match">
      <td class='home'><%= team1.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team1.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team3.code + '.png' %></td>
      <td class='away'><%= team3.name %></td>
    </tr>

    <tr class="match">
      <td class='home'><%= team2.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team2.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team4.code + '.png' %></td>
      <td class='away'><%= team4.name %></td>
    </tr>  
  </tbody>
</table>
<input type="submit" id="groupA" value="Update Table">

<ul>
  <% @groupB.each do |group| %>
    <li class="group-li">
      <%= link_to(group.name, group_path(group.id), class: 'group-link')%>
    </li>
  <% end %>
</ul>

<table>
  <tr>
    <th>Team</th>
    <th>Pld</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>PTS</th>
  </tr>
  <% @groupB.first.teams.each do |team| %>
    <tr>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team.code + '.png' %><%= team.name %></td>
      <td><%= team.played %></td>
      <td><%= team.wins %></td>
      <td><%= team.draws %></td>
      <td><%= team.losses %></td>
      <td><%= team.points %></td>
    <% end  %>
  </tr>
</table>

<% team1 = @groupB.first.teams[0] %>
<% team2 = @groupB.first.teams[1] %>
<% team3 = @groupB.first.teams[2] %>
<% team4 = @groupB.first.teams[3] %>
<hr>
<table>
  <tbody>
    <tr class="match">
      <td class='home'><%= team1.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team1.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1))%></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team2.code + '.png' %></td>
      <td class='away'><%= team2.name %></td>
    </tr>


    <tr class="match">
      <td class='home'><%= team3.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team3.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team4.code + '.png' %></td>
      <td class='away'><%= team4.name %></td>
    </tr>
  
    <tr class="match">
      <td class='home'><%= team4.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team4.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team1.code + '.png' %></td>
      <td class='away'><%= team1.name %></td>
    </tr>

    <tr class="match">
      <td class='home'><%= team3.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team3.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team2.code + '.png' %></td>
      <td class='away'><%= team2.name %></td>
    </tr>

    <tr class="match">
      <td class='home'><%= team1.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team1.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team3.code + '.png' %></td>
      <td class='away'><%= team3.name %></td>
    </tr>

    <tr class="match">
      <td class='home'><%= team2.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team2.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team4.code + '.png' %></td>
      <td class='away'><%= team4.name %></td>
    </tr>  
  </tbody>
</table>
<input type="submit" id="groupB" value="Update Table">