<h1>Predictor</h1>
<ul>
  <% @groupA.each do |group| %>
    <li class="group-li">
      <%= link_to(group.name, group_path(group.id), class: 'group-link')%>
    </li>
  <% end %>
</ul>

<table>
  <tr>
    <th>Team</th>
    <th>Pld</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>PTS</th>
  </tr>
  <% @groupA.first.teams.each do |team| %>
    <tr>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + team.code + '.png' %><%= team.name %></td>
      <td><%= team.played %></td>
      <td><%= team.wins %></td>
      <td><%= team.draws %></td>
      <td><%= team.losses %></td>
      <td><%= team.points %></td>
    <% end  %>
  </tr>
</table>

<hr>
<h2>Matches</h2>
<table>
  <tbody>
    <tr class="match">
      <td class='home'><%= @CZE.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @CZE.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1))%></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @DEN.code + '.png' %></td>
      <td class='away'><%= @DEN.name %></td>
    </tr>


    <tr class="match">
      <td class='home'><%= @GER.name %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @GER.code + '.png' %></td>
      <td><%= select_tag "home", options_for_select((0..5).step(1)) %></td>
      <td><%= select_tag "away", options_for_select((0..5).step(1)) %></td>
      <td><%= image_tag 'http://img.uefa.com/imgml/flags/18x18/' + @SRB.code + '.png' %></td>
      <td class='away'><%= @SRB.name %></td>
    </tr>
  </tbody>
</table>
<input type="submit" id="groupA" value="Update Table">