<!DOCTYPE html>
<html>
<head>
  <title>EurosApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <li><%= link_to('Home', root_path) %></li>
      <li><%= link_to('Predictor', group_predictor_path) %></li>
      <li><%= link_to('Teams', team_index_path) %></li>
      <% Group.all.each do |group| %>
      <li><%= link_to(group.name, group_path(group.id))%></li>
      <% end %>
      <li><%= link_to('Fantasy Football', new_team_path) %></li>
    </nav>
  </header>
<%= yield %>
</body>
</html>